.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-left: 24px;
  padding-bottom: 92px;
  padding-right: 24px;
}


.header__menu {
  display: flex;
  justify-self: center;
  line-height: 1.3;
  margin-right: 15px;


}

.header_logo {
  width: 130px;
  height: 105px;


}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 7px;
}

.header__list {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
  padding-bottom: 10px;
}

.list-start {
  text-decoration: none;
  list-style-type: none;
}


.list__adress {
  list-style-type: none;
  padding-left: 73px;
}

.address {
  padding-left: 50px;
  line-height: 1.5;
  padding-bottom: 8px;


}

.adress-text {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}


.adress-mail {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.main-content {
  position: relative;
  background-image: url(./images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 79vh;


}


.cover__title {
  letter-spacing: 0.3em;


}


.aligned-text_center {
  text-align: center;
  padding-top: 36px;
  padding-left: 30px;

}

.aligned-text_right {
  text-align: right;
  padding-top: 36px;
  padding-right: 20px;

}

.aligned-text_start {
  padding-top: 173px;
  padding-left: 50px;
}



.aligned-text {
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 100px;
  color: rgba(255, 255, 255, 1);
  display: block;
  line-height: 1;
}

.letter-spacing-extended {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  word-spacing: -0.23em;
  font-size: 100px;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.description {
  position: relative;
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding-top: 113px;
}

.description-text {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 19px;
  padding-top: 10px;


}

.btn {
  font-family: 'Raleway', sans-serif;
  width: 256px;
  height: 51px;
  font-size: 22px;
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 1);
  padding-bottom: 5px;

}

.text-btn {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);

}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 1);
  opacity: 60%;


}

.lots {
  margin: auto;
  width: 1052px;
  margin-top: 245px;
  position: relative;
  display: flex;
  flex-direction: column;
  


}


.title__lots {
  text-transform: uppercase;
  width: 121px;
  left: 40px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 0.2;
  padding-left: 40px;
  padding-bottom: 39px;

}


.card_type_film {
  background-image: url(./../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(./../images/card-lot-02.jpg);

}

.card_type_picture {
  background-image: url(./../images/card-lot-03.jpg);
}


.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  

}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;

}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;

}

.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;

}


.card__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 23px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: left;
  z-index: 1;
  font-size: 20px;
  color: white;
  padding: 10px 40px 51px 40px;
}

 
.card__title{
  z-index: 1;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  padding: 51px 40px 0px 40px;


}

.watching__more {

  display: block;
  text-underline-offset: 3px;
  padding-top: 36px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 40px;

}


.about {
  display: grid;
  gap: 25px;
  grid-template-columns: 334px 1fr;
  padding: 155px 28px 0 25px;
  
}

.about__column {
  justify-self: center;
}


.about__logo {
  justify-self: center;
  background-color: #000;
  height: 240px;
  display: flex;
  border-radius: 50%;
  width: 240px;
  justify-content: center;
  align-items: center;
}

.about__logo__image {
  display: block;
  margin: 0 auto;
  width: 148px;
  height: 100%;

}


.about__tittle {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 100px 0 100px;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  padding-bottom: 22px;
  
}

.footer {
  width: 1100px;
  margin-top: 1800px;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  
}

.icons {
  display: flex;
  gap: 48.5px;
  padding-right: 50px;


}



.icons__footer {
  width: 48px;
  height: 48px;
  gap: 0px;

}

.footer__links-list {
  line-height: 1;
  padding-right: 130px; 
  text-align: center;
  list-style-type: none;

}


.footer__link_active {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-left: 4px;

}




.link__adress__footer {
  list-style-type: none;
  

  
}

.footer__menu {
  padding-left: 140px;
}



